

/* load de pantalla login */
#divLoading{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(254,254,255, .65);
	z-index: 9999;
	display: none;
}
#divLoading img{
	width: 50px;
	height: 50px;
}
#divLoadingNuevo{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(254,254,255, .65);
	z-index: 9999;
	display: none;
}
#divLoadingNuevo img{
	width: 50px;
	height: 50px;
}


.search-box .form-control {
	border-radius: 10px;
	padding-left: 40px
}

.search-box .search-icon {
	position: absolute;
	left: 13px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	fill: #545965;
	width: 16px;
	height: 16px
}
.card {
	margin-bottom: 24px;
	-webkit-box-shadow: 0 2px 3px #e4e8f0;
	box-shadow: 0 2px 3px #e4e8f0;
}
.card {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid #eff0f2;
	border-radius: 1rem;
}
.me-3 {
	margin-right: 1rem!important;
}

.font-size-24 {
	font-size: 24px!important;
}
.avatar-title {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #3b76e1;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: 500;
	height: 100%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
}

.bg-soft-info {
	background-color: rgba(87,201,235,.25)!important;
}

.bg-soft-primary {
	background-color: rgba(59,118,225,.25)!important;
}

.avatar-xs {
	height: 1rem;
	width: 1rem
}

.avatar-sm {
	height: 2rem;
	width: 2rem
}

.avatar {
	height: 3rem;
	width: 3rem
}

.avatar-md {
	height: 4rem;
	width: 4rem
}

.avatar-lg {
	height: 5rem;
	width: 5rem
}

.avatar-xl {
	height: 6rem;
	width: 6rem
}

.avatar-title {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #3b76e1;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-weight: 500;
	height: 100%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%
}

.avatar-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 8px
}

.avatar-group .avatar-group-item {
	margin-left: -8px;
	border: 2px solid #fff;
	border-radius: 50%;
	-webkit-transition: all .2s;
	transition: all .2s
}

.avatar-group .avatar-group-item:hover {
	position: relative;
	-webkit-transform: translateY(-2px);
	transform: translateY(-2px)
}

.fw-medium {
	font-weight: 500;
}

a {
	text-decoration: none!important;
}
.btn-verDetalle {
	border-style: none;
	background: white;
	color: black;
	transition: font-size 0.3s;
}

.btn-verDetalle:hover {
	color: blue;
	outline: none;
	font-size: 1.1em;
}
.btn-retrocede{
	background: rgb(249, 96, 96);
	margin-bottom: 9px;
	margin-right: 15px;
	color: white;
}

.close{
	border-style: none;
	color: white;
}
.float-end {
	margin-right: 15px;
	padding: 5px;
	box-sizing: border-box; /* Incluir el padding en el ancho total */
	
  }
  
  /* Media Query para pantallas más pequeñas */
  @media (max-width: 600px) {
	.float-end {
	  font-size: 14px; /* Cambiar el tamaño de fuente en pantallas más pequeñas */
	  padding: 5px;
	}
  }
  .headerRegister{
    background: rgb(36, 123, 223);
    color: white;
}
.table-container {
    max-height: 80vh; /* Establece una altura máxima del 80% de la altura de la ventana */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
}

#miTabla {
    width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
}
/* Estilo para la tabla */
#miTabla {
    width: 100%;
    border-collapse: collapse; /* Combina los bordes de las celdas */
}

/* Estilo para las filas impares */
#miTabla tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Cambia el fondo de las filas impares si es necesario */
}

/* Estilo para las celdas de la tabla */
#miTabla td, #miTabla th {
    padding: 8px;
    border: 1px solid #dddddd; /* Agrega un borde de 1px a todas las celdas */
    text-align: left;
}

/* Estilo para el encabezado de la tabla */
#miTabla th {
    background-color: #f2f2f2; /* Cambia el fondo del encabezado si es necesario */
}